<h2>Хронология на ключови събития</h2>
<table>
  <thead>
    <tr>
      <th>Година</th>
      <th>Събитие</th>
      <th>Място</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1986</td>
      <td>Експлозия в реактор 4</td>
      <td>АЕЦ "Чернобил"</td>
    </tr>
    <tr>
      <td>1986</td>
      <td>Евакуация на Припят</td>
      <td>Украйна</td>
    </tr>
    <tr>
      <td>1987</td>
      <td>Започва изграждането на бетонен саркофаг</td>
      <td>Зона около реактора</td>
    </tr>
  </tbody>
</table>
